#Excluded files or folders

/Brad's Engima Machine/bin/Debug/net5.0/settings/enigma/log files/*
/Brad's Engima Machine/bin/Debug/net5.0/settings/enigma/readout/*
/Brad's Engima Machine/bin/Debug/net5.0/settings/enigma/messages/*
/Brad's Engima Machine/bin/Debug/net5.0/settings/machine specific files/*

